@import "mediawiki.skin.variables.less";

:root {
	--tpt-checked-background: @color-success;
}

.progress-tracking-table .header_icon {
    display: flex;
    margin: 0;
}

.ext-tableProgressTracking-icon-check {
    .cdx-mixin-css-icon( @cdx-icon-check );
}

td.progress-tracker-checkbox-cell:has(input[type="checkbox"]:checked) {
	background: var(--tpt-checked-background);
}
